* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'SUIT';
  font-weight: 600;
}

html, body {
  position: relative;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

::-webkit-scrollbar {
  display: none;
}

/* dot-custom */

.dots-custom-1 {
  width: 100%;
  display: inline-block;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

.dots-custom-1 li {
  list-style: none;
  cursor: pointer;
  display: inline-block;
  margin: 12px 6px;
  padding: 0;
}

.dots-custom-1 li button {
  border: none;
  background: #E8E8E8;
  color: transparent;
  cursor: pointer;
  display: block;
  height: 6px;
  width: 6px;
  border-radius: 50%;
  padding: 0;
}

.dots-custom-1 li.slick-active button {
  background: #FF833E;
}

.dots-custom-2 {
  width: 100%;
  display: inline-block;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 10px;
}

.dots-custom-2 li {
  list-style: none;
  cursor: pointer;
  display: inline-block;
  margin: 12px 8px;
  padding: 0;
}

.dots-custom-2 li button {
  border: none;
  background: rgba(255, 255, 255, 0.49);;
  color: transparent;
  cursor: pointer;
  display: block;
  height: 6px;
  width: 6px;
  border-radius: 50%;
  padding: 0;
}

.dots-custom-2 li.slick-active button {
  background: #FFFFFF;
}